[submodule "third_party/DeathStarBench"]
	path = third_party/DeathStarBench
	url = https://github.com/delimitrou/DeathStarBench.git
[submodule "third_party/jaeger-nodejs-example"]
	path = third_party/jaeger-nodejs-example
	url = https://github.com/algun/jaeger-nodejs-example
[submodule "third_party/istio"]
	path = third_party/istio
	url = https://github.com/istio/istio.git
[submodule "third_party/clusterdata"]
	path = third_party/clusterdata
	url = https://github.com/alibaba/clusterdata
