contourpy==1.2.1
cycler==0.12.1
deepdiff==7.0.1
fonttools==4.53.1
gurobi-optimods==1.1.0
gurobipy==11.0.2
gurobipy-pandas==1.1.2
joblib==1.4.2
kiwisolver==1.4.5
matplotlib==3.9.1
networkx==3.3
numpy==1.26.4
ordered-set==4.1.0
packaging==24.1
pandas==2.2.2
parmap==1.7.0
pillow==10.4.0
pygmmis==1.2.3
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
scikit-learn==1.5.1
scipy==1.14.0
six==1.16.0
threadpoolctl==3.5.0
tzdata==2024.1
